<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List MessageGandalf</title>
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Topic </th>
                <th> Sender </th>
                <th> ExpirationTime </th>
                <th> CreationDate </th>
                <th> Content </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${messageGandalfList.empty}">
                <td colspan="2"> No MessageGandalf Available </td>
            </tr>
            <tr th:each="messageGandalf : ${messageGandalfList}">
                <td><span th:text="${messageGandalf.id}"> Id </span></td>
                <td><span th:text="${messageGandalf.topic}"> Topic </span></td>
                <td><span th:text="${messageGandalf.sender}"> Sender </span></td>
                <td><span th:text="${messageGandalf.expirationTime}"> ExpirationTime </span></td>
                <td><span th:text="${messageGandalf.creationDate}"> CreationDate </span></td>
                <td><span th:text="${messageGandalf.content}"> Content </span></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>